@import "smart-grid.scss";
@import "bootstrap.css";
@import "scssFontAwesome/font-awesome.scss";
@import "fonts.scss";
@include reset();
@import "header.scss";
@import "mainSection.scss";
// @import "aboutMe.scss";
// @import "progress.scss";
// @import "portfolio.scss";
// @import "counters.scss";
// @import "aboutBlocks.scss";
// @import "coffeCounter.scss";
// @import "cryptofx.scss";
// @import "magnific-popup.scss";
.wrapper {
    width: 100%;
}
.mainColumn {
    width: 100%;
    max-width: 1050px;
}
.ctaButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    border-radius: 50px;
    border: 3px solid #db2e1a;
    background: linear-gradient(to top, #d82c19 0%, #f84a22 99%, #f84a22 100%);
    transition: background 0.3s linear;
    outline: none !important;
    cursor: pointer;
    &:hover{
        border: 3px solid darken(#db2e1a, 10%);
        background: linear-gradient(to top, darken(#d82c19, 10%) 0%, darken(#f84a22, 10%) 99%, darken(#f84a22, 10%) 100%);
        outline:none;
    }
    &:focus{
        border: 3px solid #fcff00;
    }
    span {
        text-shadow: 0 2px 2px rgba(11, 11, 12, 0.5);
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        font-weight: 700;
        line-height: 35.43px;
        text-transform: uppercase;
    }
    
    img {
        display: block;
        width: 12px;
        height: 22px;
        margin: 0 15px;
    }
}
.red {
    color: #e1030d;
}
.mainCta {
    box-shadow: -2px 11px 29px rgba(11, 11, 12, 0.21);
    border: 1px solid #d7d7d7;
    background-color: #f7f7f7;
    border-radius: 10px;
    max-width: 346px;
    margin-left: auto;
    overflow: hidden;
}